@import "tailwindcss";

.theme-blue {
  --color-primary: #91b8f3;
}

.theme-red {
  --color-primary: #f9adad;
}

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background-color: var(--color-primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
